# Environment config for local dev
export DB_HOST=host
export DB_PORT=port
export DB_NAME=shorturl_db
export DB_USER=your_username
export DB_PASS="your_password"
export DB_URL="tcp://$DB_HOST:$DB_PORT"